@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.main-container{
    width: 375px;
    height: 375px;
    background-color: rgb(25 25 37);
    border-radius: 20px;
    margin: auto;
}

#star-image{
    margin: 20px;
    padding: 10px;
    background-color: rgb(46, 47, 47);
    border-radius: 20px;
}
.rating-title{
    margin-left: 30px;
    background-color:  rgb(25 25 37);
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.rating-description{
    margin: 30px 30px;
    background-color:  rgb(25 25 37);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}

.rating-level{
margin: 30px 30px;
display: flex;
flex-direction: row;
justify-content: center;
}
.rating-numbers{
    width: 40px;
    height: 40px;
    background-color: rgb(41 41 42);
    margin :auto;
    border-radius: 20px;
    border:  0px;
    color: rgb(157, 157, 157);
}
.rating-numbers:hover{
    background-color: rgb(226, 122, 32);
    color: white;

}
#rating-submit{
    width: 80%;
    height: 40px;
    margin : 0px 10%;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif; 
    color:  rgb(226, 122, 32);
    border: 0px;
}

#rating-submit:hover{
    background-color: rgb(226, 122, 32);
    color:white;
}